
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Welcome To My Portfolio</div>
            <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
        </div>
    </header>

    <!-- About-->
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">About Me</h2>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="startbootstrap-agency-gh-pages/assets/img/about/avatar.jpg" alt="" /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">João Felipe Mendes</h4>
                        </div>
                        <div class="timeline-body"><p class="text-muted">Full Stack Developer with background in Digital Marketing, holding a Bachelor's degree in Advertising and Marketing.</p></div>
                        <p class="text-muted">Knowledge in HTML, CSS, JavaScript, Ruby on Rails, Git and GitHub. Moreover, experience in SEO, SEM, Google Analytics, Face and Insta Ads.</p>
                    </div>
                </li>
        </div>
    </section>


    <!-- Portfolio Grid-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Portfolio</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="startbootstrap-agency-gh-pages/assets/img/portfolio/TeamTime_thumbnail.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Team Time</div>
                            <div class="portfolio-caption-subheading text-muted">Website application</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="startbootstrap-agency-gh-pages/assets/img/portfolio/PlusSizeMe-Thumbnail.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Plus Size Me</div>
                            <div class="portfolio-caption-subheading text-muted">MarketPlace</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="startbootstrap-agency-gh-pages/assets/img/portfolio/Landing-Page-Thumbnail.jpg" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Borrow Me</div>
                            <div class="portfolio-caption-subheading text-muted">Landing Page</div>
                        </div>
                    </div>
                </div>
        </div>
    </section>

    <!-- Portfolio Modals-->
    <!-- Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="startbootstrap-agency-gh-pages/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Team Time</h2>
                                <p class="item-intro text-muted">Website application.</p>
                                <img class="img-fluid d-block mx-auto" src="startbootstrap-agency-gh-pages/assets/img/portfolio/TeamTime_full.png" alt="" />
                                <p>This website was my final project in the Le Wagon Bootcamp. It was developed by me and two other colleagues. The application consists in a platform where you can find a teacher and schedule group classes in your workplace, such as Yoga, Meditation and Sophrology. As the main code language to build the project, we used Ruby on Rails for the backend, and HTML, CSS and JavaScript for the frontend.</p>
                                <ul class="list-inline">
                                    <li>Date: September 2020</li>
                                    <li>Client: Le Wagon</li>
                                    <li><a href="http://www.teamtime.club" target="_blank"> www.teamtime.club </a></li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="startbootstrap-agency-gh-pages/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Plus Size Me</h2>
                                <p class="item-intro text-muted">MarketPlace</p>
                                <img class="img-fluid d-block mx-auto" src="startbootstrap-agency-gh-pages/assets/img/portfolio/PlusSizeMe_full.png" alt="" />
                                <p>This was a Marketplace that I developed in a team of three. The idea was based in buying and selling used items for Plus Size costumers. As a user, you can create a profile, post and describe your products and also buy from other users. The coding languages to build this application was Ruby on Rails, HTML, CSS and JavaScript.</p>
                                <ul class="list-inline">
                                    <li>Date: August 2020</li>
                                    <li>Client: Le Wagon</li>
                                    <li>Category: Graphic Design</li>
                                    <li><a href="https://plus-size-me.herokuapp.com/" target="_blank"> www.plussizeme.com </a></li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 3-->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="startbootstrap-agency-gh-pages/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">Borrow Me</h2>
                                <p class="item-intro text-muted">Landing Page</p>
                                <img class="img-fluid d-block mx-auto" src="startbootstrap-agency-gh-pages/assets/img/portfolio/Landing-Page-Full.png" alt="" />
                                <p>A landing page developed in HTML and CSS, used as a preview for a future project of a Marketplace where you can borrowing and lending whatever you want.</p>
                                <ul class="list-inline">
                                    <li>Date: August 2020</li>
                                    <li>Client: Le Wagon</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact -->
    <section class="page-section" id="contact">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="mt-0">Let's Get In Touch!</h2>
            <hr class="divider my-4">
            <p class="text-muted mb-5">Ready to start your next project with me? Give me a call or send an email!</p>
          </div>
        </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <svg class="svg-inline--fa fa-phone fa-w-16 fa-3x mb-3 text-muted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg><!-- <i class="fas fa-phone fa-3x mb-3 text-muted"></i> Font Awesome fontawesome.com -->
          <div>+49 (162) 821-8161</div>
        </div>
          <div class="col-lg-4 mr-auto text-center">
            <svg class="svg-inline--fa fa-envelope fa-w-16 fa-3x mb-3 text-muted" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path></svg><!-- <i class="fas fa-envelope fa-3x mb-3 text-muted"></i> Font Awesome fontawesome.com -->
          <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
            <a class="d-block" href="mailto:jfelipe.cmendes@gmail.com" target="_blank">jfelipe.cmendes@gmail.com</a>
          </div>
        </div>
      </div>
    </section>

<!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">Copyright © 2020</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="https://github.com/jfcmendes" target="_blank"><i class="fab fa-github"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/jotalippe/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/joaofelipemendes" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://wa.me/491628218161" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </div>

            </div>
        </div>
    </footer>

